<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='icon' href="./img/question.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpMess}}</p>
        </div>
         {{>footer}}
    </body>
</html>