<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel='icon' href="./img/rain.png">
        </script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get information about weather!</p>
            <form>
                <input type='text' placeholder="Input your location">
                <button type="submit">Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
    
</html>
